<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-blue20 p-3 rounded pb-4">

            <div class="d-flex justify-content-center">

            <h2>¡Bienvenida!</h2>
            </div>
            <hr>

            <form action="/inicio-sesion" method="POST">

                {{#if errorMessage}}
                <div id="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                    <div id="email" class="form-text">Gracias por tu confianza 😊</div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password">
                    <div id="password" class="form-text">Recuerda no compartir tu contraseña 💜</div>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark block">Iniciar sesión</button>
                </div>

            </form>

        </div>
    </div>
</div>