body {
  font: sans-serif;
  position: relative;
  margin-top: 70px;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

textarea {
  width: 100%;
  border: none;
}

#map {
  height: 80vh;
  /* background-color: rgb(28, 190, 185, 0.2); */
  border: solid rgb(28, 190, 185, 0.2) 10px;
  border-radius: 20px;
}

.imgIssuesContainer {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
}

.imgIssue{
  height: auto;
  width: 100%;
}


.bg-dark {
  background-color: rgb(164, 80, 249)!important;
}

.btn-dark {
  background-color: rgb(121, 0, 243, 0.6)!important;
}

.btn-danger {
  background-color: rgb(121, 0, 243, 0.6)!important;
}

.bg-violet100 {
  background-color: rgb(121, 0, 243, 1);
}

.bg-violet80 {
  background-color: rgb(121, 0, 243, 0.8);
}

.bg-violet60 {
  background-color: rgb(121, 0, 243, 0.6);
}

.bg-violet40 {
  background-color: rgb(121, 0, 243, 0.4);
}

.bg-violet20 {
  background-color: rgb(121, 0, 243, 0.2);
}

.bg-violet10 {
  background-color: rgb(121, 0, 243, 0.1);
}

.bg-0 {
  background-color: rgba(255, 255, 255, 0);
}

.bg-blue20 {
  background-color: rgb(28, 190, 185, 0.2);
}

.text-bold{
  font-weight:600;
}