
    <div class="row d-flex justify-content-center">
        
        <div class="card shadow-0 border" style="background-color: #f0f2f5;">
            <div class="card-body p-4 d-flex flex-column">

                <div class="col-md-8 align-self-center">
                    <div class="form-outline mb-4 bg-light p-2 rounded">

                        <form action="/foro" method="POST">
                            <label for="title" class="form-label">Título</label>
                            <input type="text" class="form-control" id="title" name="title">

                            <label for="description" class="form-label">Descripción</label>
                            <input type="textarea" class="form-control" id="description" name="description">

                            <div class="d-grid gap-2 mt-2">
                            <button type="submit" class="btn btn-dark block">Crear comentario</button>
                            </div>
                        </form>

                    </div>
                </div>
            
                <div class="col-md-8 col-lg-12 align-self-center">

                    {{#each comment}}
                        <div class="card mb-4">
                            <div class="card-body">

                                <h5 class="ms-2">{{title}}</h5>

                                <p class="ms-2">{{description}}</p>

                                <div class="d-flex justify-content-between">

                                    <div class="d-flex flex-row align-items-center">
                                        <p class="small mb-0 ms-2">Usuario: {{owner.username}}</p>
                                    </div>

                                    {{#if ../isAdmin}}
                                    <div class="d-flex flex-row align-items-center">
                                        <form action="/foro/eliminar/{{_id}}" method="POST">
                                        <input type="submit" value="Eliminar" class="btn btn-danger">
                                        </form>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

